{% extends 'switchmart/base.html' %}

	{% block content %}
		<h2><u>Cart</u></h2>
		<hr>
		{% for product in products %}
   		 	<div>
				<p><a href="{% url 'product_details' pk=product.pk %}"><b>{{ product.prod_name|linebreaksbr }}</b></a><p>
    	        <p><b> Price: </b> <i> Rs. {{ product.price|linebreaksbr }}</i></p>
    	        <p><b> Quantity: </b> <i> {{ product.quantity|linebreaksbr }}</i></p>
				<button onclick="alert('removing from cart...')"> <a href="{% url 'remove' pk=product.pk %}">Remove from Cart</a></button>
				<br/>	
		    </div>
			<hr>
		{% endfor %}
	{% endblock %}
